*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Arial', sans-serif;
    background-image: url(./image/BCO.96b8208a-c88b-4e51-8698-4f37929b20fb.png);
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}
.login-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f8fbff3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    margin: 20px auto;
}
.login-section h2{
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.login-section input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
.login-section button{
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-section button:hover{
    background-color: #0056b3;
}
.login-section p{
    color: #fff;
    text-align: center;
}
.login-section a{
    text-align: right;
    color: #007BFF;
    text-decoration: none;
}
.login-section a:hover{
    text-decoration: underline;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}