body{
    direction:rtl;
    font-family: sans-serif;
    background-color: #f4f4f0;
    margin: 0;
    padding: 0;
}
.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2d3e26;
}
.hero-section{ 
    width: 100%; 
    height: 50vh;
    background-image: url('../image/1777898010766.png'); 
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: right;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.3); 
    background-blend-mode: overlay;
}
.hero-section h1 {
    color: white; 
    font-size: 50px;
    margin-bottom: 10px;
    margin: 35px 10px 30px;
}
.hero-section p {
    color: #eaeaea;
    font-size: 15px;
}
.hero-section a{
    text-decoration: none;
    background-color: #3e5435;
    color: #e0e5d5;
    padding: 10px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: large;
}
.info-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ecf1e3;
    border-radius: 20px;
    border: 1px solid #e0e5d5 ;
    padding:8px 10px;
    gap: 30px;
    margin: 20px auto;
    overflow: hidden ;
    direction: ltr;
    max-width: 1200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}



.info-content{
    border-radius: 15px;
    width: 100px;
    height: 5vh;
}
.info-content img{

}

.animals-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover { 
    transform: translateY(-10px); 
}

.card img { 
    width: 100%; 
    height: 200px; 
    object-fit: cover;
}

.card h3 { 
    margin: 15px 0;
    color: #2c3e50;
}